<body class="login">
<%= render 'check_admin'%>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>WELCOME</h1>
    </div>
  </div>
  <div class="row login-div">
    <div class="col-md-5 col-md-offset-6">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-indent: 15px;font-size: larger;font-weight: bold">
          <img style="width: auto" alt="login" src="/assets/Fonts/glyphicons-204-lock.png">  Login
        </div>
        <%= form_for :membership_login, url: :memberships do |f| %>
        <div class="panel-body" style="vertical-align: middle">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <%= f.label(:user,class: 'col-sm-3 control-label') %>
              <div class="col-sm-9">
                <%= f.text_field(:user, class: 'form-control')%>
              </div>
            </div>
            <div class="form-group">
              <%= f.label(:password,class:'col-sm-3 control-label') %>
              <div class="col-sm-9">
                <%= f.password_field(:password,class: 'form-control',:id=>'pass') %>
              </div>
            </div>
            <!--<div class="form-group">-->
              <!--<div class="col-sm-offset-3 col-sm-9">-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input type="checkbox"/>-->
                    <!--Remember me-->
                  <!--</label>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <div class="form-group">
              <label class="col-sm-3 control-label">UserType</label>
              <div class="col-sm-9" >
                <select style="height: 34px;width: 100%" name="sel" id= "sel">
                  <option value="admin">admin</option>
                  <option value="project_member">project_member</option>
                </select>
              </div>
            </div>
            <div class="form-group last">
              <div class="col-sm-offset-0 col-sm-12" align="center" style="margin-top: 10%">
                <%= f.submit('Sign in', class:'btn btn-success btn-sm', :id=>'submit_btn') %>
                <button type="reset" class="btn btn-default btn-sm">
                  Reset</button>
              </div>
            </div>
          </form>
        </div>
        <% end %>
        <div class="panel-footer">
          Not Registred? <a href="signup">Sign up Here</a> Or <a href="/">Back to Home</a></div>
      </div>
    </div>
  </div>
</div>
</body>

<script type="text/ecmascript" src="sha1.js"></script>
<script type="text/javascript">

    var form1 = document.getElementById("submit_btn")
    form1.onclick = function(){
        var pass = document.getElementById('pass').value;

        var pass_hex = hex_sha1(pass);
        document.getElementById('pass').value = pass_hex;

    }

</script>