<h1>member signup </h1>
<%= form_for :signup, url: :memberships_signup_handle do |f| %>
    <p>
      <%= f.label :user %><br>
      <%= f.text_field :user%>
    </p>
    <p>
      <%= f.label :phone %><br>
      <%= f.text_field :phone%>
    </p>
    <p>
      <%= f.label :qq %><br>
      <%= f.text_field :qq%>
    </p>
    <p>
      <%= f.label :is_leader %><br>
      <%= f.text_field :is_leader%>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :confirm %><br>
      <%= f.password_field :confirm %>
    </p>

    <p>
      <%= f.submit %>
    </p>

    <% if session[:err] == 1%>
        <%= 'Two passwords are not the same.'%>
    <% end%>

<% end %>
