<%= render '/welcome/nav'%>

<div class="container">
  <h3>Details of Atricles</h3>
  <div class="toRight" style="height: 4px;margin-top: -10px"></div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table index-show" style="margin-bottom: 10px !important;">
        <thead style="">
        <tr style="line-span: 3">
          <th style="width: 10%;text-align: center">ID</th>
          <th style="width: 65%">Articles</th>
          <th style="text-align: right; width: 25%">Release Date</th>
        </tr>
        </thead>
      </table>
      <hr style="border:none;border-top:2px dotted rgba(135, 135, 135, 1);margin-bottom: 3px;margin-top: -10px">
      <table class="table index-show table-hover bg-warning">
        <tbody>
        <% @i = 0 %>
        <% @articles.each do |a| %>
            <tr>
              <td style="width: 10%;text-align: center">
                <%= @i = a.id %>
                <%   params[:id] = @i %>
              </td>
              <td style="width: 65%">
                <%= link_to a[:title], articles_path + '/' + @i.to_s %>
              </td>
              <td style="text-align: right; width: 25%">
                <%= a.updated_at%>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <hr style="border:none;border-top:2px solid black;margin-bottom: 3px;margin-top: -20px">
    </div>
  </div>
</div>

<%= render 'welcome/footer' %>