<%= render '/welcome/nav'%>

<div class="container" style="min-height: 390px">
  <h2 align="center">发布</h2>
  <div class="toMiddle" style="height: 4px;margin-bottom: 10px;margin-top: -5px"></div>
  <div style="width: 95%;float: right;margin-right: 2.5%">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a href="../projects/new">项目</a></li>
      <li role="presentation" class="active"><a href="../articles/new">文章</a></li>
      <li role="presentation"><a href="../notices/new">通知</a></li>
    </ul>
    <div style="width:100%; border: solid #ddd 1px;border-top: none;height: 500px">
      <%= form_for :article, url: :articles do |f| %>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-1 control-label">标题</label>
              <div class="col-sm-11">
                <%= f.text_field(:title, class: 'form-control')%>
              </div>
            </div>
            <div class="form-group" style="clear: both">
              <label class="col-sm-1 control-label text-top">正文</label>
              <div class="col-sm-11" style="margin-top: 10px">
                <%= f.text_area(:text, rows:15, class: 'form-control')%>
              </div>
            </div>
            <div class="form-group" style="clear: both">
              <label class="col-sm-1 control-label text-top">图片</label>
              <div class="col-sm-11" style="margin-top: 15px">
                <%= f.file_field(:image)%>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12" align="right" style="margin-top: 3%;padding-left: 50%">
                <%= f.submit('保存文章', class:'btn btn-success btn-sm') %>
              </div>
            </div>
          </form>
        </div>
      <%end%>
    </div>
  </div>
</div>

<%= render 'welcome/footer' %>