<%= render '/welcome/nav'%>


<div class="container" style="min-height: 390px">
  <h2 align="center">编辑</h2>
  <div class="toMiddle" style="height: 4px;margin-bottom: 10px;margin-top: -5px"></div>
  <div style="width: 95%;float: right;margin-right: 2.5%">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a href="">项目</a></li>
      <li role="presentation"><a href="../articles/modify">文章</a></li>
      <li role="presentation"><a href="../notices/modify">通知</a></li>
    </ul>
    <div style="width:100%; border: solid #ddd 1px;border-top: none;height: 500px">
          <div class="panel-body">
            <form class="form-horizontal" role="form">
              <div style="float: left;width: 75%">
                <% @pid=session[:project_id] %>
                <% @projects_all.each do |project|%>
                  <% if project[:id].to_s==@pid %>
                    <div class="form-group" >
                      <label class="col-sm-2 control-label" style="padding-top: 0 !important">
                        标题
                      </label>
                      <div class="col-sm-10">
                        <textarea readonly rows="1" class="form-control"><%= project.name%></textarea>
                      </div>
                    </div>
                        <div class="form-group" style="clear: both">
                          <label class="col-sm-2 control-label" style="padding-top: 0 !important">
                            项目详情
                          </label>
                          <div class="col-sm-10">
                            <textarea readonly rows="15" class="form-control"><%= project.description%></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-12" align="right" style="margin-top: 3%;padding-left: 20%">
                            <%= link_to 'Edit this Project', projects_edt_path+'?'+'edt='+session[:project_id],class: 'btn btn-success btn-sm'%>
                          </div>
                        </div>
                    <% break %>
                  <%end%>
                <%end%>
              </div>
              <div style="float: left;width: 25%;padding-left: 2.5%;padding-right: 2.5%">
                <div class="panel panel-primary project-panel">
                  <div class="panel-heading" style="font-size: inherit !important;padding-top: 4px;padding-bottom: 4px">
                    <div class="panel-title" align="center" style="font-weight: bold">
                      Exiting Members
                    </div>
                  </div>
                  <div class="panel-body" style="padding: 5px;overflow-y: scroll;height: 150px !important">
                    <table class="table index-show table-hover">
                      <tbody>
                      <% @members_all.each do |m| %>
                          <% if @map[m.id] == 'yes' %>
                          <tr class="bg-warning">
                            <td style="width: 80%">
                              <%= m.name%>
                            </td>
                            <td style="vertical-align: middle;font-size:12px !important;text-align: center; width: 20%;text-decoration: underline" class="article-modify">
                              <%=link_to 'Delete', projects_add_members_path+'?del_member_id='+m[:id].to_s+'&project_id='+session[:project_id] %>
                            </td>
                          </tr>
                          <% end%>
                      <%end%>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="panel panel-primary project-panel" style="margin-top: 15px">
                  <div class="panel-heading" style="font-size: inherit !important;padding-top: 4px;padding-bottom: 4px">
                    <div class="panel-title" align="center" style="font-weight: bold">
                      Add Member
                    </div>
                  </div>
                  <div class="panel-body" style="padding: 5px;overflow-y: scroll;height: 150px !important">
                    <table class="table index-show table-hover">
                      <tbody>
                      <% @members_all.each do |m| %>
                          <% if @map[m.id] != 'yes' %>
                              <tr class="bg-warning">
                                <td style="width: 80%">
                                  <%= m.name%>
                                </td>
                                <td style="vertical-align: middle;font-size:12px !important;text-align: center; width: 20%;text-decoration: underline" class="article-modify">
                                  <%=link_to 'Add', projects_add_members_path+'?add_member_id='+m[:id].to_s+'&project_id='+session[:project_id] %>
                                </td>
                              </tr>
                          <% end%>
                      <%end%>
                      </tbody>
                    </table>
                  </div>
              </div>
              </div>
            </form>
          </div>
    </div>
  </div>
</div>

<%= render 'welcome/footer' %>